<p id="notice"><%= notice %></p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sản Phẩm ",admin_products_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Loại sản phẩm ",admin_categories_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to "Tài khoản người dùng",admin_users_path%></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" <%= link_to "Bài Đăng",admin_posts_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Bình luận",admin_comments_path%></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" <%= link_to "Trả lời bình luận",admin_replies_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to('Đăng xuất', destroy_admin_user_session_path, method: :delete) %> </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<th class=""><%= link_to 'Bình luận mới', admin_new_comments_path %></th>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Mã bình luận</th>
      <th scope="col">Nội dung </th>
      <th scope="col">Bài đăng</th>
      <th scope="col">Người bình luận</th>
      < <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment|%>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.content %></td>
      <td><%= comment.post.name%></td>
      <td><%= comment.user.email%></td>
      <td><%= link_to 'Edit', admin_edit_comments_path(comment.id)%></td>
      <td><%= link_to 'Destroy',  admin_destroy_comments_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
     <% end %>
  </tbody>
</table>
<%= link_to 'Trở lại', admin_comments_path %>