<p id="notice"><%= notice %></p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sản Phẩm ",admin_products_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Loại sản phẩm ",admin_categories_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to "Tài khoản người dùng",admin_users_path%></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" <%= link_to "Bài Đăng",admin_posts_path%></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" <%= link_to "Bình luận",admin_comments_path%></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" <%= link_to "Trả lời bình luận",admin_replies_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to('Đăng xuất', destroy_admin_user_session_path, method: :delete , data: { confirm: 'Are you sure?' }) %> </a>
      </li>
    </ul>
           <%= form_tag(admin_posts_path, :method => "get",   
          class: 'navbar-form navbar-left') do %>  
             <div class="input-group">  
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
            <div class="input-group-btn" style="margin-right: 10%; height: 20%; width: 20%">  
              <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
          </div>  
  </div>  
<% end %>
  </div>
</nav>
<th class=""><%= link_to 'Bài Đăng', admin_new_posts_path %>   </th>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Mã bài đăng</th>
      <th scope="col">Tên bài đăng </th>
      <th scope="col">Nội dung </th>
      <th scope="col">Sản phẩm </th>
      <th scope="col">Người đăng</th>
      < <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post|%>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.name %></td>
      <td><%= post.content %></td> 
      <td><%= post.product.name%></td>
      <td><%= post.user.name%></td>
      <td><%= link_to 'Sửa ', admin_edit_posts_path(post.id)%></td>
      <td><%= link_to 'Xóa',  admin_destroy_posts_path(post.id), method: :delete, data: { confirm: 'Bạn chắc chắn muốn xóa chứ?' } %></td>
    </tr>
     <% end %>
  </tbody>
</table>
<%= link_to 'Trở lại', admin_products_path %>