<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sản Phẩm ",admin_products_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Loại sản phẩm ",admin_categories_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to "Tài khoản người dùng",admin_users_path%></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" <%= link_to "Bài Đăng",admin_posts_path%></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" <%= link_to "Bình luận",admin_comments_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Trả lời bình luận",admin_replies_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to('Đăng xuất', destroy_admin_user_session_path, method: :delete) %> </a>
      </li>
    </ul>
           <%= form_tag(admin_users_path, :method => "get",   
          class: 'navbar-form navbar-left') do %>  
             <div class="input-group">  
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
            <div class="input-group-btn" style="margin-right: 10%; height: 20%; width: 20%">  
              <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
          </div>  
  </div>  
<% end %>
  </div>
</nav>
<th class="newww"><%= link_to 'Tạo tài khoản mới',admin_new_users_path %></th>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id </th>
      <th scope="col">Tên tài khoản</th>
      <th scope="col">Email </th>
      <th scope="col">Mật khẩu</th>
      <th scope="col">User</th>
      <th scope="col">Hình </th>
    </tr>
  </thead>
  <tbody> <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name%></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= user.position %></td>
      <td><%= user.avatar %></td>
      <td><%= link_to'Xóa', admin_destroy_users_path(user.id), method: :delete, data: { confirm: 'Bạn chắc chắn muốn xóa chứ ??' } %></td>
      <td><%= link_to 'Sửa', admin_edit_users_path(user.id) %></td>
    </tr>
     <% end %>

  </tbody>
</table>
<%= link_to 'Trở lại',  admin_users_path%>