<div style="min-height: 100vh">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #207bd6">
    <a class="navbar-brand" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
       <a  class="nav-link" <%= link_to('Trang chủ', products_path)%></a>
        
        <li class="nav-item">
        <a  class="nav-link" <%= link_to('Sản phẩm',products_path)%> </a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Danh Mục
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Tủ lạnh</a>
          <a class="dropdown-item" href="#">TiVi</a>
          <a class="dropdown-item" href="#">Lap Top</a>
           <a class="dropdown-item" href="#">Máy điều hòa</a>
            <a class="dropdown-item" href="#">Điện thoại</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
        <li class="nav-item">
        <% if user_signed_in? %>
          <a class="nav-link"<%= link_to('Đăng xuất', destroy_user_session_path, method: :delete)%></a>
        <% else %>
         <a  class="nav-link" <%= link_to('Đăng nhập', user_session_path)%></a>
        <% end %>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  </br>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="hinh"><%= image_tag("hinh.png")%></div>
      </div>
      <div class="carousel-item">
       <%= image_tag("hinh1.png")%>
      </div>
      <div class="carousel-item">
       <%= image_tag("hinh2.png")%>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">1</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">2</span>
    </a>
  </div>
  <br><br>
  <div style="float: left;"  class="col-md-3">
  <%= image_tag @product.image.url(:medium) %>  	
  </div>
    <h4 style="color: #3d05b7; font-size: 40px"><%= @product.name%></h4>
    <h5 style="color: #f21010; font-size: 25px"><%= @product.price%>đ</h5>
    <p style="color: #3d05b7;font-size: 25px;">Đặc điểm nổi bật:</p> <p style="margin-right: 15%"><%= @product.description%></p>
   <% if @product.post %></br></br>
       <h4 style="font-style: oblique; color: #ce0c0c; margin-left: 5%; margin-right: 5%"><%= @product.post.content %></h4>
     </br>
     <div class="comments" style="margin-left: 15%" >
          <% @product.post.comments.each do |comment| %>
            <div class="comment" style="margin-left: 15%">
              <h6 style="font-style: oblique"><%= comment.user.email%>:&nbsp;&nbsp; <%= comment.content %></h6>
              <a href= "#"><p style="color: green; margin-left:20%">reply</p></a>
            </div>
            </br>
          <% end %>
      </div>
        <div class="post_id">
        <%= hidden_field(:comment, @product.post.id, :value => "#{@product.post.id}")%>
        </div>
        <div class="form-group conetnt-comment">
          <label style="margin-left:20%">Bình luận mới</label>
          <input type="text" class="form-control" id="exampleInputcomment" aria-describedby="emailHelp" placeholder="Nhập bình luận ... " style="width: 20%;margin-left: 20%">
        </div>
        <button id="submit-comment" class="btn btn-primary" style="margin-left: 20%">Bình luận</button>
      <% end %>
    </div>  
  </br>
</br>
<div style="bottom: 0">
  <div class="jumbotron jumbotron-fluid">
    <div class="container" >
      <div class="container">
    <div class="row">
      <div class="col-sm">
       <h4 style="color: blue;">Thông tin điện máy xanh</h4>
       <p>Hệ thống 991 siêu thị (8:00-22:00)</br>
        Giới thiệu công ty</br>
        Tìm việc làm</br> 
        Liên hệ góp ý </p>  
      </div>
      <div class="col-sm">
       <h4 style="color: blue;">Hỗ trợ khách hàng</h4>
       <p>Tìm hiểu thông tin về mua trả góp</br>
          Giao hàng, lắp đặt</br>
          Bảo hành đổi trả</br>
          Dịch vụ vệ sinh</p>
      </div>
      <div class="col-sm">
        <h4 style="color: blue;">Tổng đài hỗ trợ</h4>
        <p>
         Mua hàng 1800.1061 (7:30 - 22:00)</br>
        Kỹ thuật 1800.1764 (7:30 - 22:00)</br>
        Bảo hành1800.1065 (8:00 - 21:00)</br>
        Khiếu nại 1800.1063 (8:00 - 21:30)</br>
        </p>
      </div>
    </div>
  </div>
  </div>  
  </div>
</div>
<script type="text/javascript">
  $('#submit-comment').click(function(){
    var post_id = $(".post_id").find('input[type=hidden]')[0].value;
    var content = $(".conetnt-comment").find('input[type=text]')[0].value;
    $.post('/create_comment', { post_id: post_id, content: content}, 
     function(returnedData){
        if(returnedData.success)
        {
          $.get('/get_comment', {post_id: post_id, number: 1}, 
              function(return_comment){
                listComment = $('.comments').find('.comment');
                lastComment = listComment[listComment.length-1];
                lastComment.insertAdjacentHTML('afterend', '<br><div class="comment">'+return_comment.comments[0].email +':' + return_comment.comments[0].content + '</div>');
          }, 'json');
          $(".conetnt-comment").find('input[type=text]')[0].value = "";
        }
        else{
          alert("tao loi");
        }
      }, 'json');
  });
</script>